/SmallGameForJamTest/[Ll]ibrary/
/SmallGameForJamTest/[Tt]emp/
/SmallGameForJamTest/[Oo]bj/
/SmallGameForJamTest/[Bb]uild/
/SmallGameForJamTest/[Bb]uilds/
/SmallGameForJamTest/.vs/

# Plugins Folder
/SmallGameForJamTest/Assets/Plugins
/SmallGameForJamTest/Assets/Plugins.meta
# Gizmos Folder
/SmallGameForJamTest/Assets/Gizmos
/SmallGameForJamTest/Assets/Gizmos.meta
# Light Weight Renderer Pipeline Preview
/SmallGameForJamTest/Assets/LPPreview
/SmallGameForJamTest/Assets/LPPreview.meta
# Node Canvas
/SmallGameForJamTest/Assets/ParadoxNotion
# Behavior Designer
/SmallGameForJamTest/Assets/Behavior Designer
/SmallGameForJamTest/Assets/Behavior Designer.meta
/SmallGameForJamTest/Assets/Behavior Designer Movement
/SmallGameForJamTest/Assets/Behavior Designer Movement.meta
# Chronos
/SmallGameForJamTest/Assets/Chronos
/SmallGameForJamTest/Assets/Chronos.meta
# UMA
/SmallGameForJamTest/Assets/UMA
/SmallGameForJamTest/Assets/UMA.meta
# ProCore (for Unity 2017.3)
/SmallGameForJamTest/Assets/ProCore
/SmallGameForJamTest/Assets/ProCore.meta
# ProCore (for Unity 2018.1)
/SmallGameForJamTest/Assets/ProBuilder Data
/SmallGameForJamTest/Assets/ProBuilder Data.meta
# TextMeshPro
/SmallGameForJamTest/Assets/TextMesh Pro
/SmallGameForJamTest/Assets/TextMesh Pro.meta
# Volumetric Lighting
/SmallGameForJamTest/Assets/Volumetric Lighting
/SmallGameForJamTest/Assets/Volumetric Lighting.meta
# ShaderForge
/SmallGameForJamTest/Assets/ShaderForge
/SmallGameForJamTest/Assets/ShaderForge.meta
# Unity Logs Viewer (See Console Logs in Builds)
/SmallGameForJamTest/Assets/Unity-Logs-Viewer
/SmallGameForJamTest/Assets/Unity-Logs-Viewer.meta
# Fungus
/SmallGameForJamTest/Assets/Fungus
/SmallGameForJamTest/Assets/Fungus.meta
/SmallGameForJamTest/Assets/FungusExamples
/SmallGameForJamTest/Assets/FungusExamples.meta
# StreamingAssets (Ignore Build Files and Other Unnecessary Stuff)
/SmallGameForJamTest/Assets/StreamingAssets/build_info.txt
/SmallGameForJamTest/Assets/StreamingAssets/build_info.txt.meta
# Power UI, No Longer Used
/SmallGameForJamTest/Assets/PowerUI
# Unity Standard Assets and Post Processing
/SmallGameForJamTest/Assets/PostProcessing
/SmallGameForJamTest/Assets/PostProcessing.meta
/SmallGameForJamTest/Assets/Standard Assets
/SmallGameForJamTest/Assets/Standard Assets.meta
# Tactical Shooter AI, No Longer Used
/SmallGameForJamTest/Assets/Tactical Shooter AI
# UFPS, No Longer Used
/SmallGameForJamTest/Assets/UFPS
# Asset Shore Tools
/SmallGameForJamTest/Assets/AssetStoreTools*
# Third Person Controller
/SmallGameForJamTest/Assets/Third Person Controller
/SmallGameForJamTest/Assets/Third Person Controller.meta
/SmallGameForJamTest/Assets/BackupTPCScripts
# Models Used For Testing
/SmallGameForJamTest/Assets/ModelsAndAssets
/SmallGameForJamTest/Assets/ModelsAndAssets.meta
# ORK Framework, No Longer Used
/SmallGameForJamTest/Assets/_ORK_SmallGameForJamTest_Backups
/SmallGameForJamTest/Assets/ORK Framework/DLL
/SmallGameForJamTest/Assets/ORK Framework/DLL.meta
/SmallGameForJamTest/Assets/ORK Framework/demo.unitypackage
/SmallGameForJamTest/Assets/ORK Framework/demo.unitypackage.meta
/SmallGameForJamTest/Assets/ORK Framework/EditorData.asset
/SmallGameForJamTest/Assets/ORK Framework/EditorData.asset.meta
/SmallGameForJamTest/Assets/ORK Framework/gameplay_source_code.zip
/SmallGameForJamTest/Assets/ORK Framework/gameplay_source_code.zip.meta
/SmallGameForJamTest/Assets/ORK Framework/README.txt
/SmallGameForJamTest/Assets/ORK Framework/README.txt.meta

# Map Data Used
/SmallGameForJamTest/Assets/SmallGameProject/Scenes/Level1

# Autogenerated VS/MD solution and project files
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
