/LazarusCloneForJam/[Ll]ibrary/
/LazarusCloneForJam/[Tt]emp/
/LazarusCloneForJam/[Oo]bj/
/LazarusCloneForJam/[Bb]uild/
/LazarusCloneForJam/[Bb]uilds/
/LazarusCloneForJam/.vs/

# Plugins Folder
/LazarusCloneForJam/Assets/Plugins
/LazarusCloneForJam/Assets/Plugins.meta
# Logs Folder
/LazarusCloneForJam/Logs
# Build Helper Assets
/LazarusCloneForJam/Assets/unity-build
/LazarusCloneForJam/Assets/unity-build.meta
/LazarusCloneForJam/Assets/unity-build-actions
/LazarusCloneForJam/Assets/unity-build-actions.meta
# Gizmos Folder
/LazarusCloneForJam/Assets/Gizmos
/LazarusCloneForJam/Assets/Gizmos.meta
# Light Weight Renderer Pipeline Preview
/LazarusCloneForJam/Assets/LPPreview
/LazarusCloneForJam/Assets/LPPreview.meta
# Node Canvas
/LazarusCloneForJam/Assets/ParadoxNotion
# Behavior Designer
/LazarusCloneForJam/Assets/Behavior Designer
/LazarusCloneForJam/Assets/Behavior Designer.meta
/LazarusCloneForJam/Assets/Behavior Designer Movement
/LazarusCloneForJam/Assets/Behavior Designer Movement.meta
# Chronos
/LazarusCloneForJam/Assets/Chronos
/LazarusCloneForJam/Assets/Chronos.meta
# UMA
/LazarusCloneForJam/Assets/UMA
/LazarusCloneForJam/Assets/UMA.meta
# ProCore (for Unity 2017.3)
/LazarusCloneForJam/Assets/ProCore
/LazarusCloneForJam/Assets/ProCore.meta
# ProCore (for Unity 2018.1)
/LazarusCloneForJam/Assets/ProBuilder Data
/LazarusCloneForJam/Assets/ProBuilder Data.meta
# TextMeshPro
/LazarusCloneForJam/Assets/TextMesh Pro
/LazarusCloneForJam/Assets/TextMesh Pro.meta
# Volumetric Lighting
/LazarusCloneForJam/Assets/Volumetric Lighting
/LazarusCloneForJam/Assets/Volumetric Lighting.meta
# ShaderForge
/LazarusCloneForJam/Assets/ShaderForge
/LazarusCloneForJam/Assets/ShaderForge.meta
# Unity Logs Viewer (See Console Logs in Builds)
/LazarusCloneForJam/Assets/Unity-Logs-Viewer
/LazarusCloneForJam/Assets/Unity-Logs-Viewer.meta
# Fungus
/LazarusCloneForJam/Assets/Fungus
/LazarusCloneForJam/Assets/Fungus.meta
/LazarusCloneForJam/Assets/FungusExamples
/LazarusCloneForJam/Assets/FungusExamples.meta
# StreamingAssets (Ignore Build Files and Other Unnecessary Stuff)
/LazarusCloneForJam/Assets/StreamingAssets/build_info.txt
/LazarusCloneForJam/Assets/StreamingAssets/build_info.txt.meta
# Power UI, No Longer Used
/LazarusCloneForJam/Assets/PowerUI
# Unity Standard Assets and Post Processing
/LazarusCloneForJam/Assets/PostProcessing
/LazarusCloneForJam/Assets/PostProcessing.meta
/LazarusCloneForJam/Assets/Standard Assets
/LazarusCloneForJam/Assets/Standard Assets.meta
# Tactical Shooter AI, No Longer Used
/LazarusCloneForJam/Assets/Tactical Shooter AI
# UFPS, No Longer Used
/LazarusCloneForJam/Assets/UFPS
# Asset Shore Tools
/LazarusCloneForJam/Assets/AssetStoreTools*
# Third Person Controller
/LazarusCloneForJam/Assets/Third Person Controller
/LazarusCloneForJam/Assets/Third Person Controller.meta
/LazarusCloneForJam/Assets/BackupTPCScripts
# Models Used For Testing
/LazarusCloneForJam/Assets/ModelsAndAssets
/LazarusCloneForJam/Assets/ModelsAndAssets.meta
# ORK Framework, No Longer Used
/LazarusCloneForJam/Assets/_ORK_LazarusCloneForJam_Backups
/LazarusCloneForJam/Assets/ORK Framework/DLL
/LazarusCloneForJam/Assets/ORK Framework/DLL.meta
/LazarusCloneForJam/Assets/ORK Framework/demo.unitypackage
/LazarusCloneForJam/Assets/ORK Framework/demo.unitypackage.meta
/LazarusCloneForJam/Assets/ORK Framework/EditorData.asset
/LazarusCloneForJam/Assets/ORK Framework/EditorData.asset.meta
/LazarusCloneForJam/Assets/ORK Framework/gameplay_source_code.zip
/LazarusCloneForJam/Assets/ORK Framework/gameplay_source_code.zip.meta
/LazarusCloneForJam/Assets/ORK Framework/README.txt
/LazarusCloneForJam/Assets/ORK Framework/README.txt.meta

# Map Data Used
/LazarusCloneForJam/Assets/SmallGameProject/Scenes/Level1

# Autogenerated VS/MD solution and project files
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
